#game-table-component-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
}

#game-table-component-match {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

#game-table-component-cards {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
}

#game-table-component-match-desk,
#game-table-component-match-discarded {
    width: 115px;
    height: 170px;
    border-radius: 5px;
    background-color: #47525E;
}