#principal-page-container {
    height: 100vh;
    background-color: #EBEBEB;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 49.8% 0.04% 49.8%;
}

#principal-page-header {
    grid-column: 1/4;
    grid-row: 1/2;
}

#principal-page-line-container {
    display: flex;
    align-items: center;
}

#principal-page-line {
    background-color: #47525E;
    height: 90%;
    width: 100%;
}

@media (max-width: 830px) {
    #principal-page-container {
        height: max-content;
        min-height: 100vh;
        grid-template-rows: 110px 1fr 5% 1fr;
        grid-template-columns: 1fr;
    }

    #principal-page-header {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #principal-page-line-container {
        grid-row: 3/4;
        grid-column: 1/2;
        justify-content: center;
    }

    #principal-page-line {
        height: 2%;
        width: 90%;
    }

    #principal-page-join-game {
        grid-column: 1/2;
        grid-row: 4/5;
    }
}